%li= link_to '@joindiaspora', "http://twitter.com/joindiaspora", {:target => "_blank"}
%li= link_to 'github', "https://github.com/diaspora/diaspora", {:target => "_blank"}
%li= link_to t('layouts.header.blog'), "http://blog.diasporafoundation.org/", {:target => "_blank"}
%li= link_to t('layouts.application.whats_new'), changelog_url, {:target => "_blank"}
%li= link_to(t('layouts.header.code') + " " + pod_version, "https://github.com/SuperTux88/diaspora", {:target => "_blank"}) unless request.url.match(/joindiaspora.com/)
%li= link_to(t('layouts.application.toggle'), toggle_mobile_path)
