<% content_for(:page_title) do %>500: We're sorry, but something went wrong<% end %>

<%= render :partial => "errors/header" %>

<div class="container">
  <div id="grey_header">
    <h1>500: Internal server error</h1>
  </div>

  <div class="container" style="text-align: center;">
    <div class="cat-image">
      <a href="http://www.flickr.com/photos/musigny/407640972/" target="_blank"><%= image_tag "branding/cat_500.jpg" %></a>
    </div>

    <h1 style="margin: 25px 0;">We're sorry, but something went wrong (500)</h1>

    <h4>Our bad! Sorry about that. :(</h4>

    <% if AppConfig.admins.podmin_email? %>
      <p>
        Drop us an email to
        <a href="mailto:<%= AppConfig.admins.podmin_email %>"><%= AppConfig.admins.podmin_email %></a>.
      </p>
    <% end %>

    <h4><a href="javascript:history.go(-1)">Go Back</a></h4>
  </div>
</div>

<%= render :partial => "layouts/footer" %>
